<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card mt-3 mb-3">

                <div class="card-header bg-light">
                    <h1 class="display-5  fw-bold " style="color:darkorchid;"> Welcome to Online Test Apllication</h1>
                </div>

                <div class="card-body">
                    <p class="col-md-8 fs-4"><b>Online Test Application system creates an application for Quiz that
                            enables
                            users to provide online tests, review them, and display the results at the same time.<br>
                            This Quiz
                            will contains total 9 questions and Each Question holds 10 points.</b>
                    </p>
                    <h1 style="color:darkviolet;">Quiz Rules:</h1>
                    <ol>
                        <li><b> Each Correct Question gives you 10 points.</b></li>
                        <li><b> Each Incorrect Question gives you -10 points.</b></li>
                        <li><b> You will have 60 seconds to answer each question.</b></li>
                        <li><b> Refreshing the Page will reset the Quiz and you have to start from starting only.</b>
                        </li>
                    </ol>
                </div>
                <div class="card-footer bg-light text-center">
                    <h1 style="font-family: cursive;"><b>All the Best...!!!</b></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="name col-md-4 my-3">
        <label> <b>Enter your name to start the Quiz: </b></label>
        <input #name type="text" class="form-control" placeholder="Enter your name here...">
    </div>
    <div class="container">
        <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz..!!</button>
    </div>

</div>

<div class="card text-center">
    <div class="card-header badge-secondary"><a style="color:white;"
                href="#!">Re-Exam (Click Here)</a>
    </div>
</div>